In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [12]:
booking = pd.read_csv("booking.csv")
print(booking.head(3))

          hotel  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel        342               2015               July
1  Resort Hotel        737               2015               July
2  Resort Hotel          7               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                        27                          1
1                        27                          1
2                        27                          1

   stays_in_weekend_nights  stays_in_week_nights meal country  ...  \
0                        0                     0   BB     PRT  ...
1                        0                     0   BB     PRT  ...
2                        0                     1   BB     GBR  ...

  booking_changes deposit_type  agent  company  days_in_waiting_list  \
0               3   No Deposit    NaN      NaN                     0
1               4   No Deposit    NaN      NaN                     0
2               0   No Deposit    NaN      NaN                     0

  customer_type   adr  required_car_parking_spaces reservation_status  \
0     Transient   0.0                            0          Check-Out
1     Transient   0.0                            0          Check-Out
2     Transient  75.0                            0          Check-Out

   Unnamed: 26
0          NaN
1          NaN
2          NaN

[3 rows x 27 columns]

In [14]:
client = pd.read_csv("client_info.csv")
print(client.head(3))

  reservation_status_date            name  babies  children  adults  \
0                7/1/2015   Ernest Barnes       0       0.0       2
1                7/1/2015    Andrea Baker       0       0.0       2
2                7/2/2015  Rebecca Parker       0       0.0       1

                         email  phone-number       credit_card
0  Ernest.Barnes31@outlook.com  669-792-1661  ************4322
1       Andrea_Baker94@aol.com  858-637-6955  ************9157
2   Rebecca_Parker@comcast.net  652-885-2745  ************3734